body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 10px;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #d7d5d5;
    color: rgb(23, 65, 216);
    padding: 20px 0;
    text-align: center;
    position: relative;
    box-shadow: 0 2px 4px rgba(1, 1, 1, 0.1);
}

header h1 {
    margin: 0;
    font-weight: 600;
}

header p {
    margin:50px 0 0;
    color: #f10d0d;
}

nav {
    position: relative;
    padding: auto;
    top: 20px;
    right: 20px;
}

nav a {
    background-color: #444;
    color: rgb(122, 153, 180);
    text-decoration: none;
    padding: 10px 15px;
    margin: 0 5px;
    border: none;
    border-radius: 5px;
    display: inline-block;
    transition: background-color 0.3s;
}

nav a i {
    margin-right: 5px;
}

nav a:hover {
    background-color: #555;
}

main {
    padding: 40px 20px;
    max-width: 1200px;
    margin: 0 auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

table, th, td {
    border: 1px solid #6c6a6a;
}

th, td {
    padding: 5px;
    text-align: left;
}

th {
    background-color: #333;
    color: rgb(229, 20, 20);
    font-weight: 600;
}

footer {
    background-color: #333;
    color: rgb(229, 8, 8);
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

footer img {
    width: 50px;
    margin-top: 10px;
}
    